.box {
    --bg-std: #304f5f;
    --bg-xtra: rgb(120, 52, 52);
    --bg-jaunty: orangered;
    --fg-jaunty: black;
}

.box {
    background-color: var(--bg-std);
    border: 1px solid var(--bd);
}

.xtra {
    background-color: var(--bg-xtra);
}

.jaunty {
    --bd: var(--fg);
    --bd-wd: 2px;
    --mg: 2.0rem;
    --ht: 5rem;
    --wd: 5rem;
    --rot: 15deg;
}

.jaunty {
    background-color: var(--bg-jaunty);
    color: var(--fg-jaunty);
    border: var(--bd-wd) solid var(--bd);
    margin: var(--mg);
    transform: rotate(var(--rot));
    transition: all 1s;
    max-height: var(--ht);
    max-width: var(--wd);
}