.Grid {
    --bg: #030732;
    --fg: rgb(247, 253, 188);
    --bd: white;
    --bg-grid-bounds: rgb(103, 103, 103);
    --bg-content-css: rgb(16, 55, 16);
    --bg-items-css: rgb(77, 11, 11);
    --bg-gap-css: rgb(73, 11, 77);
    --bg-height-css: var(--bg-grid-bounds);
    --bg-flex-css: rgb(43, 100, 122);
    --bg-selected-options: rgb(75, 73, 60);
    --bg-details: rgb(187, 177, 111);
    --fg-details: #00031c;
    --bg-child: #304f5f;
    --bg-child-xtra: rgb(120, 52, 52);
}

.Grid {
    background-color: var(--bg);
    color: var(--fg);
    display: grid;
}

.Grid>div:last-child {
    background-color: var(--bg-grid-bounds);
}

/* ----------------------------------------- */

.grid-demo {
    display: grid;
    grid-template-columns: repeat(5, 8rem);
    grid-auto-rows: min-content;
    gap: var(--gap);
}

.grid-cols {
    display: grid;
    grid-auto-flow: column;
    gap: var(--grid-gap);
}

.grid-1col {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: var(--grid-gap);
}

.grid-rows {
    display: grid;
    grid-auto-flow: row;
    gap: var(--grid-gap);
}

.grid-2cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
}

.grid-4cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--grid-gap);
}

.grid-8cols {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--grid-gap);
}

.grid-2rows {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: var(--grid-gap);
}

.grid-4rows {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: var(--grid-gap);
}

.grid-8rows {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    gap: var(--grid-gap);
}

.grid-6c4r {
    display: grid;
    grid: repeat(4, minmax(4rem, min-content)) / repeat(6, minmax(6rem, min-content));
    gap: var(--grid-gap);
}

.grid-auto-c {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6rem, min-content));
    gap: var(--grid-gap);
}

.grid-fieldset-c {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

div.grid-fieldset-item>label {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--grid-gap);
    margin-right: 0.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: var(--grid-gap);
}

.flex-row-rev {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--grid-gap);
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    overflow-y: auto;
}

.flex-col-rev {
    display: flex;
    flex-direction: column-reverse;
    gap: var(--grid-gap);
    overflow-y: auto;
}

.content-css {
    background-color: var(--bg-content-css);
}

.items-css {
    background-color: var(--bg-items-css);
}

.gap-css {
    background-color: var(--bg-gap-css);
}

.height-css {
    background-color: var(--bg-height-css);
}

.flex-css {
    background-color: var(--bg-flex-css);
}

.selected-options {
    background-color: var(--bg-selected-options);
    border: 1px solid var(--bd);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    justify-content: left;
    padding: 0.5rem;
}

.details {
    background-color: var(--bg-details);
    color: var(--fg-details);
    border: 1px solid var(--bd);
    padding: 0.5rem;
}

/* ----------------------------------------- */

.jc-beg {
    justify-content: start;
}

.jc-cen {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.jc-spc-ar {
    justify-content: space-around;
}

.jc-spc-bt {
    justify-content: space-between;
}

.jc-spc-ev {
    justify-content: space-evenly;
}

/*  */

.ji-beg {
    justify-items: start;
}

.ji-cen {
    justify-items: center;
}

.ji-end {
    justify-items: end;
}

.ji-left {
    justify-items: left;
}

.ji-right {
    justify-items: right;
}

/* ----------------------------------------- */

.ac-beg {
    align-content: start;
}

.ac-cen {
    align-content: center;
}

.ac-end {
    align-content: end;
}

.ac-str {
    align-content: stretch;
}

.ac-spc-ar {
    align-content: space-around;
}

.ac-spc-bt {
    align-content: space-between;
}

.ac-spc-ev {
    align-content: space-evenly;
}

/*  */

.ai-beg {
    align-items: start;
}

.ai-cen {
    align-items: center;
}

.ai-end {
    align-items: end;
}

.ai-str {
    align-items: stretch;
}

/* ----------------------------------------- */

.pc-beg {
    place-content: start;
}

.pc-cen {
    place-content: center center;
}

.pc-end {
    place-content: end;
}

/*  */

.pi-beg {
    place-items: start;
}

.pi-cen {
    place-items: center;
}

.pi-end {
    place-items: end;
}

/* ----------------------------------------- */

.gap-0 {
    gap: 0;
}

.gap-sm {
    gap: 0.25rem;
}

.gap-md {
    gap: 0.5rem;
}

.gap-lg {
    gap: 1.0rem;
}

.gap-xl {
    gap: 2.0rem;
}

/* ----------------------------------------- */

.ht-sm {
    height: 12rem;
}

.ht-md {
    height: 16rem;
}

.ht-lg {
    height: 20rem;
}

.ht-xl {
    height: 32rem;
}

/* ----------------------------------------- */

.flx-wrap {
    flex-wrap: wrap;
}

/* ----------------------------------------- */

.box {
    background-color: var(--bg-child);
    border: 1px solid var(--bd);
}

.xtra {
    background-color: var(--bg-child-xtra);
}

/* ----------------------------------------- */