.Help {
    --bg: #1d1d1d;
    --fg: rgb(222, 222, 222);
    --bd: var(--fg);
    --fg-link: lightblue;
    --fg-link-hover: lightgreen;
    --fg-css: lightgreen;
}

.Help {
    color: var(--fg);
    background-color: var(--bg);
    border: 1px solid var(--bd);
    padding: 0.5rem;
    font-size: larger;
}

.Help ul {
    list-style: square;
    padding-left: 1.5rem;
}

.Help p>span {
    padding-left: 1rem;
    font-family: var(--df-fonts-mono);
    font-weight: bold;
}

.Help hr {
    margin-block: 0.5rem;
}

.Help a {
    color: var(--fg-link);
    text-decoration: none;
}

.Help a:hover {
    border-bottom: 2px solid;
    cursor: pointer;
}

.Help pre {
    padding-left: 2.0rem;
}

.Help pre>span {
    color: var(--fg-css);
}