.place-center {
    display: grid;
    place-items: center;
}

.font-mono {
    font-family: var(--df-fonts-mono);
}

.just-left {
    justify-content: left;
}

.just-middle {
    justify-content: center;
}

.pad0 {
    padding: 0;
}

.pad1 {
    padding: 0.25rem;
}

.pad2 {
    padding: 0.5rem;
}

.pad3 {
    padding: 0.75rem;
}

.pad4 {
    padding: 1.0rem;
}

.mb4 {
    margin-bottom: 1.0rem;
}