:root {
  --body-bg: rgb(57, 57, 57);
  --gap: 0.5rem;
  --grid-gap: var(--gap);
  --wrapper-width: 60rem;
}

.app-base {
  --bg: #1b1f8d;
  --fg: lightskyblue;
  --bd: rgb(80, 80, 80);
  --bg-child: #264653;
  --fg-close: rgb(233, 14, 58);
}

body {
  background: var(--body-bg);
}

h1, h2, h3 {
  margin-block: 0.5rem;
  font-weight: inherit;
  text-align: center;
}

h1 {
  font-size: xx-large;
}

h2 {
  font-size: x-large;
}

h3 {
  font-size: large;
}

button {
  background-color: inherit;
  color: inherit;
  border: none;
  border-color: inherit;
  border: 1px solid;
  border-radius: 4px;
  padding-inline: 1rem;
}

.app-base {
  display: grid;
  gap: var(--grid-gap);
  position: relative;
  background: var(--bg);
  color: var(--fg);
}

.app-container {
  height: 42rem;

  margin: 0.5rem;
  padding: 0.25rem;
}


@media (prefers-reduced-motion: no-preference) {}